/* @import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
body {
  /* font-family: 'Gamja Flower', cursive; */
  /* font-family: 'Do Hyeon', sans-serif; */
  font-family: 'Nanum Gothic', sans-serif;
}

h1 {
  font-size: 58px;
  /* margin-left: 48px; */
  text-align: center;
}
h2 {
  font-size: 38px;
}
ol{
  font-size: 38px;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
  color:blue;
}
.wrapper {
  display: flex;
}

.wrapper > .title {
  flex: 10;
}
.wrapper > .nav {
  flex: 2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper > .nav > h2{
  color:blue;
}
.nav.left{
  margin-left: 30px;
}
.nav.right{
  margin-right: 30px;
  /* visibility: hidden; */
}

.container{
  display: flex;
}

.container > .menu {
  flex: 2;
}

.container > .main {
  flex: 10;
}

.menu > ul li {
  font-size: 38px;
  list-style: none;
  margin-top: 40px;
}

.menu > ul {
  margin-top: 200px;
}
